* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    
    margin: 10px 10px 0 0;
}
.headerLeft{
    display: flex;
}
.logo {
    margin-left: 10px;
    border-right: 1px solid #ccc;
    padding: 12px;
    color: red;
}

.header1 {
    color: red;
    padding: 12px;
}
.searchBox{
    width: 1000px;
    height: 40px;
    border: 1px solid red;
    border-radius: 20px;
}
.searchItem{
    margin: 10px;
    font-size: 14px;
}
.lBtn {
    display: flex;

}

.login {
    padding: 12px;
}

.lBtn .myCart {
    padding: 12px;
    border: 1px solid #ccc;
}